img {
  width: 150px;
  height: 150px;
}

.awardBar {
  height: 20vh;
  background-color: #02122c;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 60px;
  font-size: 1.25rem;
}

nav {
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.awardBar2 {
  height: 17vh;
  background-color: #ffffff;
  color: #0971f1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1rem;
}

.awardBar2 > nav > ul > li > img {
  width: 83px;
  height: 30px;
}
