.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
}

.card-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#root > div > div.table-container > div:nth-child(2) > div > div {
  background-color: rgb(108, 219, 201, 0.5);
}
#root > div > div > main > div {
  background-color: rgba(250, 213, 6, 0.8);
}

.imageUpload {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MuiCardContent-root.createMode #filled-image-input {
}

.MuiCardContent-root.editMode #filled-image-input {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 400px;
}

.textfield {
  margin-bottom: 20px;
}

.button {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
